body {
    padding: 20px;
    background-color: #343a40;
    color: #f8f9fa;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 80px;

}

.tag-input {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.result-container {
    margin-top: 20px;
}

.calculate-btn {
    margin-top: 10px;
}

.form-group {
    transition: border-color 0.7s ease;
}

.set-impostore-btn {
    margin-top: 10px;
   
}

.set-crewmate-btn {
    margin-top: 10px;

}

@media screen and (max-width: 420px) {
    .set-crewmate-btn {
        min-width: 138px;
    }

    .set-impostore-btn {
        min-width: 138px;
       
    }
}